@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background-color: rgb(20, 24, 28);
  background-image: linear-gradient(
    to bottom,
    #14181c calc(var(--layout-flex-leaderboard-height)),
    #14181c calc(250px + var(--layout-flex-leaderboard-height)),
    #2c3440 calc(251px + var(--layout-flex-leaderboard-height))
  );
  background-position: 0 0;
  color: #9ab;
}

.hero-container {
  height: 675px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 0;
}

.hero-wrapper {
  height: 675px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 1200px;
  z-index: 0;
}

.hero-backdrop {
  background-image: url("./assets/hero-bg.jpeg");
  background-position: center -15px;
  opacity: 0;
  image-rendering: pixelated;
  opacity: 0.35;
  transition: opacity 0s;
  transition-delay: 1s;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 99.95%;
  position: absolute;
  width: 100%;
}

.hero-image {
  background-image: url("./assets/hero-bg.jpeg");
  background-position: center -15px;
  transition: opacity 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 99.95%;
  position: absolute;
  width: 100%;
}

.hero-mask {
  padding-top: 500px;
  position: relative;
}

.hero-mask::before {
  background-image: linear-gradient(
      90deg,
      #14181d 0,
      rgba(20, 24, 29, 0.986) 0.97%,
      rgba(20, 24, 29, 0.945) 2.07833333%,
      rgba(20, 24, 29, 0.883) 3.29666667%,
      rgba(20, 24, 29, 0.803) 4.60166667%,
      rgba(20, 24, 29, 0.711) 5.96666667%,
      rgba(20, 24, 29, 0.61) 7.365%,
      rgba(20, 24, 29, 0.504) 8.77166667%,
      rgba(20, 24, 29, 0.398) 10.16%,
      rgba(20, 24, 29, 0.296) 11.505%,
      rgba(20, 24, 29, 0.203) 12.78%,
      rgba(20, 24, 29, 0.122) 13.95833333%,
      rgba(20, 24, 29, 0.059) 15.01666667%,
      rgba(20, 24, 29, 0.016) 15.92833333%,
      rgba(20, 24, 29, 0) 16.66666667%,
      rgba(20, 24, 29, 0) 83.33333333%,
      rgba(20, 24, 29, 0.016) 84.07166667%,
      rgba(20, 24, 29, 0.059) 84.98333333%,
      rgba(20, 24, 29, 0.122) 86.04166667%,
      rgba(20, 24, 29, 0.203) 87.22%,
      rgba(20, 24, 29, 0.296) 88.495%,
      rgba(20, 24, 29, 0.398) 89.84%,
      rgba(20, 24, 29, 0.504) 91.22833333%,
      rgba(20, 24, 29, 0.61) 92.635%,
      rgba(20, 24, 29, 0.711) 94.03333333%,
      rgba(20, 24, 29, 0.803) 95.39833333%,
      rgba(20, 24, 29, 0.883) 96.70333333%,
      rgba(20, 24, 29, 0.945) 97.92166667%,
      rgba(20, 24, 29, 0.986) 99.03%,
      #14181d
    ),
    linear-gradient(
      0deg,
      #14181d 0,
      #14181d 21.48148148%,
      rgba(20, 24, 29, 0.986) 23.63703704%,
      rgba(20, 24, 29, 0.945) 26.1%,
      rgba(20, 24, 29, 0.883) 28.80740741%,
      rgba(20, 24, 29, 0.803) 31.70740741%,
      rgba(20, 24, 29, 0.711) 34.74074074%,
      rgba(20, 24, 29, 0.61) 37.84814815%,
      rgba(20, 24, 29, 0.504) 40.97407407%,
      rgba(20, 24, 29, 0.398) 44.05925926%,
      rgba(20, 24, 29, 0.296) 47.04814815%,
      rgba(20, 24, 29, 0.203) 49.88148148%,
      rgba(20, 24, 29, 0.122) 52.5%,
      rgba(20, 24, 29, 0.059) 54.85185185%,
      rgba(20, 24, 29, 0.016) 56.87777778%,
      rgba(20, 24, 29, 0) 58.51851852%
    );
  content: "";
  display: block;
  height: 675px;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 1200px;
  z-index: 0;
}

.header {
  height: 72px;
  position: relative;
  z-index: 1100;
}

.navbar {
  height: 72px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  width: 273px;
  cursor: pointer;
}

.hero-text-content {
  position: relative;
  padding-top: 400px;
  text-align: center;
}

.hero-text-content h2 {
  font-size: 2.76rem;
  line-height: 1.33;
  font-weight: 400;
  color: #fff;
}

.get-started-btn {
  display: inline-block;
  margin-block: 3.07rem;
  padding: 0.62em 1.5em;
  background-color: #00c030;
  color: #fff;
  letter-spacing: 0.075em;
  border-radius: 3px;
  cursor: pointer;
}
